{% schema %}
  {
    "name": "campaigns-liquid",
    "settings": []
  }
{% endschema %}

  <div><h2>Some stuff here!</h2></div>

{% for campaign in shop.metaobjects["campaign"].values %}
  {{ campaign.image_4_3 }}
  {{ campaign.title }}
  {{ campaign.description }}
  {{ campaign.start_date }}
  {{ campaign.end_date }}
{% endfor %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  console.log({{shop.metaobjects}})
{% endjavascript %}