{% schema %}
  {
    "name": "campaign-liquid",
    "settings": []
  }
{% endschema %}

{{ page.handle }}
{% assign campaign = shop.metaobjects.campaign[page.handle] %}
{{ campaign | json }}

<div class="banner">BANNER</div>
<div class="products">
  {% for product in campaign.products %}
  <a href="/product/{{ product.system.handle }}">
    {{ product.image_4_3 | image_url: width: 400 | image_tag: height: 300 }}
    <h2>{{ product.title }}</h2>
  </a>
  {% endfor %}
</div>



{% stylesheet %}
  .products {
    display: flex;
    flex-wrap: wrap;
  }

  
  .products a {
    margin: 20px;
    text-decoration: none;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}