{% schema %}
  {
    "name": "campaign-liquid",
    "settings": []
  }
{% endschema %}

{{ page.handle }}
{% assign campaign = shop.metaobjects.campaign[page.handle] %}
<h1>{{ campaign.title }}</h1>

{% if campaign.rich_content.value %}
  <span>Rich content</span>
  {% for rich_slice in campaign.rich_content.value.slices.value %}
    {{ rich_slice.image_url }}
  {%  endfor %}
{% endif %}

<div class="banner">BANNER</div>
<div class="products">
  {% for p in campaign.campaign_products.value %}
      <div class="product">
     <h2>{{ p.title }}</h2>
     <p>{{ p.description }}</p>
     <p>Shipping Message: {{ p.metafields.global.shipping_message }}</p>
    {{ p.featured_image | image_url: width: 400 | image_tag: height: 300 }}
    </div>
    {% comment %}
      {% render 'card-product', card_product: p %}
    {% endcomment %}
  {% endfor %}
</div>



{% stylesheet %}
  .products {
    display: flex;
    flex-wrap: wrap;
  }

  
  .product {
    margin: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}