{% schema %}
  {
    "name": "campaigns-liquid-gc",
    "settings": []
  }
{% endschema %}

  <div><h2>Some stuff here!</h2></div>

{% for campaign in shop.metaobjects["campaign"].values %}
  <img src="{{ campaign.image_4_3 }}" width="400" height="300" />
  <h1>{{ campaign.title }}</h1>
  <h2>{{ campaign.description }}</h2>
  <span>{{ campaign.start_date }}</span>
  <span>{{ campaign.end_date }}</span>
  <span>{{ campaign.campaign_products.length }}</span>
{% endfor %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  console.log({{shop.metaobjects}})
{% endjavascript %}