{% schema %}
  {
    "name": "campaign-liquid",
    "settings": []
  }
{% endschema %}

{% assign campaign = shop.metaobjects.campaign[page.handle] %}
<h1>{{ campaign.title }}</h1>

{% if campaign.rich_content.value %}
  <div class="rich-cdp-content">
  {% for rich_slice in campaign.rich_content.value.slices.value %}
    <div class="rich-cdp-content__image-container">
      <img src="{{ rich_slice.image_url }}" width="100%"/>


      {% for hotspot in rich_slice.hotspots.value %}
        <a class="product-overlay"
          href="{{ hotspot.product_link.value.url }}" 
          style="width: {{ hotspot.width_percent }}%;height: {{ hotspot.height_percent }}%;top: {{ hotspot.top_percent }}%;left: {{ hotspot.left_percent }}%;"
          >
</a>
      {%  endfor %}
    </div>
  {%  endfor %}
  </div>

{% else %}
  <div class="mood_image_section">
    <div class="mood_image">
      {{ campaign.image_4_3 | image_url: width: 400 | image_tag: height: 300 }}
    </div>
    <div class="mood_content">
      <h1>{{ campaign.title }}</h1>
    </div>
  </div>
{% endif %}


<div class="products">
  {% for p in campaign.campaign_products.value %}
      <div class="product">
        {{ p.featured_image | image_url: width: 400 | image_tag: height: 300 }}
         <h2>{{ p.title }}</h2>
          <p>{{ p.price }}</p>
    </div>
    {% comment %}
      {% render 'card-product', card_product: p %}
    {% endcomment %}
  {% endfor %}
</div>



{% stylesheet %}
  .mood_image_section {
    display: flex;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
  }

  .rich-cdp-content {
    position: relative;
    overflow: hidden;
    font-size: 0px;
    line-height: 0;
  }

  .rich-cdp-content__image-container {
    position: relative;
  }

  .rich-cdp-content .product-overlay:hover {
    background-color: hsla(0,0%,100%,.1);
  }

  .rich-cdp-content .product-overlay {
    position: absolute;
    display: block;
    z-index: 5;
  }

  .rich-cdp-content img {
    width: 100%;
  }
  
  .product {
    margin: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}